<!doctype html>
<html>
  <head>
    <title>Movie App</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/babel" src="index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="loadingSpinner">
      <img src="img/loading.gif"/>
    </div>
    <div id="title" class="row">
      <div class="page-title col-xs-11 col-md-5 col-xs-offset-1">
        CFMD
      </div>
      <div id="subTitle" class="col-xs-11 col-md-5 col-xs-offset-1">
        Results for "<b id="searchTerm">Batman</b>"
      </div>
    </div>
    <div id="results" class="row">
    </div>
    <div id="pagination" class="row">
    </div>
  </body>
</html>