html, body {
	height: 100%;
	font-size: 1.5em;
}

#title {
	height: 12%;
}

#subTitle {
	padding-top: 3%;
	height: 6%;
}

#results {
	height: 79%;
	border-top: solid;
	border-color: #ddd;
	padding-top: 1%;
}

#pagination {
	min-height: 6%;
	font-size: 1.2em;
}

.page-title {
	color: red;
	font-weight: bold;
	font-size: 2.2em;
}

#searchTerm > div { 
	display: inline-block;
}

.row {
	margin-bottom: 0;
}

.pagesLinks {
	border-top: solid;
	border-color: #ddd;
	margin-top: 1%;
}

.pageLink {
	text-align: center;
	cursor: pointer
}

.disabled {
	color: black;
}

#results > div {
	height: 100%;
}

.movieContainer {
	height: 19%;
	padding: 0;
	margin: 1% 0;
}

.movieNode, .movieInfo {
	height: 100%;
}

.moviePoster {
	height: 100%;
	padding: 10px 5px;
}

.movieInfo {
	padding: 0;
}

.movieTitleYear {
	height: 75%;
	padding: 0;
	line-height: 1em;
}

.movieTitle {
	height: 2em;
	line-height: 1em;
	padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movieYear {
	height: 1em;
	padding-right: 0;
}

.movieRating {
	height: 1em;
	color: grey;
}

.movieRating .glyphicon-star{
	height: 1em;
	color: gold;
}

.moviePosterImg {
	max-height: 100%;
	max-width: 100%;
}